html{
  // 主色
  --mainColor: #1777FF;
  --mainColorO: 23, 119, 255;
  --viceMainColor: #2E81EB;
  --viceMainColorO: 46, 129, 235;
  --subMainColor: #159AF2;
  --subMainColorO: 21, 154, 242;
  --endMainColor: #22c5fc;
  --endMainColorO: 34, 197, 252;
  --mainBg: #FEE8D8;
  --mainOp: rgba(255, 199, 171, 0.2);
}