html{
  //背景色
  --bgColor: #F6F6F6;
  //字体色
  --textColor: #171424;
  --viceTextColor: #222A41;
  --subTextColor: #999;
  --textColor333: #333;
  //边框色
  --borderColor: #bababa;
  --borderColorE5: rgba(229, 229, 229, 0.51);
  --borderColorE5Solid: #e5e5e5;
  //警告色
  --red: #FF3440;
  --green: #0FBA6A;
  --waring: #FDB600;
}